marshmallow>=3
flask~=1.1.2
flask-restx
flask-migrate
flask-sqlalchemy
flask-marshmallow
flask-jwt-extended
flask-mail~=0.9.1
marshmallow-sqlalchemy
python-dotenv~=0.15.0
passlib~=1.7.4
apispec[yaml]~=4.3.0
apispec-webframeworks
tox
celery[redis]>=5.0.0
gunicorn
black
psycopg2-binary
setuptools~=41.2.0
SQLAlchemy~=1.3.23
click~=7.1.2
alembic~=1.5.4
pytest~=6.2.2
Faker~=6.4.1
spoonacular~=3.0
