Hello {{ user.first_name }}!

It appears that you are attempting to reset your password. To do this, please click the following link:

{{ url_for('api_v1.reset_password', token=token, _external=True) }}

If you have not requested a reset, please ignore this email.

Sincerely,
The HouseChef.io Team
